version: "3.7"
services:
  server:
    container_name: "server"
    build:
      context: ..
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${http_proxy}
      target: webui-server
    depends_on:
      - broker
    environment:
      - BROKER_URL
    ports:
      - "8080:80"
    restart: unless-stopped
    command: ["sh","-c", "brokerurl=$${BROKER_URL:=mqtt://localhost:9883} && echo '# Using MQTT broker on '$${brokerurl} && sed -i 's|@BROKER_URL_PLACEHOLDER@|'$${brokerurl}'|' /usr/share/nginx/html/main-es5.js && sed -i 's|@BROKER_URL_PLACEHOLDER@|'$${brokerurl}'|' /usr/share/nginx/html/main-es2015.js && echo '# Open browser on http://localhost:8080' && nginx -g 'daemon off;'"]
  broker:
    container_name: "broker"
    build:
      context: ..
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${http_proxy}
      target: install-base
    ports:
      - "1883:1883"
      - "9883:9883"
    restart: unless-stopped
    command: npm run broker
