.light-card-dark {
    background:#37474F;
    color:#ECEFF1;
}

.light-card-divider-dark {
    background:#607D8B;
}

.light-card-subtitle-dark {
    color: #B0BEC5;
}

.light-card-header-avatar {
    background-image: url("/assets/images/light-bulb-avatar.jpg");
    background-size: cover;
}

.light-card-title-icon {
    margin-left: auto;
    margin-right: 32px;
}

.light-operation-param {
    color:#424242;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    position: absolute !important;
    margin-top: calc(-65% + 8px) !important;
    left: 12px;
    right: 8px;
}

.light-card-image-mask {
    background-image: url("/assets/images/light-bulb.jpg");
    background-size: cover;
    background-color: transparent;
    background-blend-mode: overlay;
    transition: background-color 1000ms linear;
}

.light-map-card-image-qrcode {
    position: absolute !important;
    margin-top: calc(-30vw - 34px) !important;
    width: 30vw;
    height: 30vw;
    left: 8px;
    right: 8px;
    border: 4px solid transparent;
    border-radius: 4px;
    cursor: grab;

    &:hover {
        border-color: #ffd740;
    }
}

.light-card-content {
    margin-bottom: 8px;
}

.light-card-context {
    display: flex;
    align-items: center;
}

.light-card-slider-label {
    align-self: baseline;
    min-width: 4em;
}

